{% extends 'base.html' %}
{% block content %}
<center>
    {{msg}}
    <div style="margin-top:10px;"><center><h1><mark> Add Details For inserting News </markmark></h1> </center> </div>
    <form action="{% url 'inserNews' %}" method="post" enctype="multipart/form-data" class="mt-4" >
        {% csrf_token %}
        <table border="1">
           
            <tr><td colspan="2">Insert News Data </td> </tr>
            <tr>
                <td>News Title</td>
                <td><input type="text" name="ntitle"> </td>
            </tr>
            <tr>
                <td>News Date</td>
                <td><input type="date" name="ndate"> </td>
            </tr>
            <tr>
                <td>News Description</td>
                <td><input type="text area" rows="60" cols="1000" name="desc"> </td>
            </tr>
            <tr>
                <td>News Image</td>
                <td><input type="file" name="image"> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"> </td>
                <td><input type="Reset" value="Reset"> </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}